* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Righteous', cursive;
}

body {
    background-color: #005689cc;
}

.calculadora {
    width: 300px;
    height: 560px;
    background-color: #005689;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

}

#display {

    background-color: #F1F8FD;
    width: 85%;
    height: 50px;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -20%);
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    /* overflow-x: scroll; */
    overflow: hidden;
}

.numero, .operador, .resultado, .ponto, .clear {
    width: 75px;
    height: 50px;
    background-color: #BAE8E8;
    display: inline-flex;
    position: relative;
    top: 15%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.resultado {
    width: 165px;
}

.operador, .resultado, .ponto, .clear {
    background-color: #F6C667;
}

.numero:hover {
    background-color: #BAE8E8dd;
}

.operador:hover, .ponto:hover, .clear:hover, .resultado:hover {
    background-color: #F6C667dd;
}

#links {
    position: relative;
    top: 20%;
    height: max-content;
}

#adress {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}

a:visited, a {
    color: unset;
    text-decoration: none;

}